ProjectManagementTool/Service References/PMTWebService/PGMTWebService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/projectManagementToolWebAPI.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/projectManagementToolWebAPI.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Users">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastLogin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SaltPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserProfile" nillable="true" type="tns:UserProfile" />
      <xs:element minOccurs="0" name="UserProfileID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
      <xs:element minOccurs="0" name="UserRoleId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Users" nillable="true" type="tns:Users" />
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LastLoggedIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
      <xs:element minOccurs="0" name="UserRoleId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="hasMessage" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ArrayOfUsers">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Users" nillable="true" type="tns:Users" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsers" nillable="true" type="tns:ArrayOfUsers" />
  <xs:complexType name="ErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorLog" nillable="true" type="tns:ErrorLog" />
  <xs:complexType name="ActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityLog" nillable="true" type="tns:ActivityLog" />
  <xs:complexType name="ArrayOfCompanies">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Companies" nillable="true" type="tns:Companies" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCompanies" nillable="true" type="tns:ArrayOfCompanies" />
  <xs:complexType name="Companies">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BusinessUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContactPhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmailAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:ArrayOfProjects" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Companies" nillable="true" type="tns:Companies" />
  <xs:complexType name="ArrayOfProjects">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Projects" nillable="true" type="tns:Projects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjects" nillable="true" type="tns:ArrayOfProjects" />
  <xs:complexType name="Projects">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentList" nillable="true" type="tns:ArrayOfAttachments" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CommentList" nillable="true" type="tns:ArrayOfComments" />
      <xs:element minOccurs="0" name="Companies" nillable="true" type="tns:Companies" />
      <xs:element minOccurs="0" name="CompanyID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CostEstimate" type="xs:double" />
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EstimatedCompletionDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaterialList" nillable="true" type="tns:ArrayOfMaterialList" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectScope" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="UpdatedByUserID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Zone" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projects" nillable="true" type="tns:Projects" />
  <xs:complexType name="ArrayOfAttachments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" nillable="true" type="tns:Attachments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachments" nillable="true" type="tns:ArrayOfAttachments" />
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Document" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileSize" type="xs:int" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:Projects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachments" nillable="true" type="tns:Attachments" />
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:Projects" />
      <xs:element minOccurs="0" name="Time_Stamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UpdatedByUserID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
  <xs:complexType name="ArrayOfMaterialList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MaterialList" nillable="true" type="tns:MaterialList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMaterialList" nillable="true" type="tns:ArrayOfMaterialList" />
  <xs:complexType name="MaterialList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="InvoiceNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemQuantity" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedBy" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ModifiedDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="ProjectID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Projects" nillable="true" type="tns:Projects" />
      <xs:element minOccurs="0" name="PurchaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalPrice" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MaterialList" nillable="true" type="tns:MaterialList" />
  <xs:complexType name="ProjectResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectResponse" nillable="true" type="tns:ProjectResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasHerror" type="xs:boolean" />
      <xs:element minOccurs="0" name="StatusMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ArrayOfProjectStatus">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProjectStatus" nillable="true" type="tns:ProjectStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjectStatus" nillable="true" type="tns:ArrayOfProjectStatus" />
  <xs:complexType name="ProjectStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Selected" type="xs:boolean" />
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProjectStatus" nillable="true" type="tns:ProjectStatus" />
  <xs:complexType name="OverviewDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="TotalCanceled" type="xs:int" />
      <xs:element minOccurs="0" name="TotalCompleted" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDeleted" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOnHold" type="xs:int" />
      <xs:element minOccurs="0" name="TotalOpen" type="xs:int" />
      <xs:element minOccurs="0" name="TotalPending" type="xs:int" />
      <xs:element minOccurs="0" name="TotalProjects" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OverviewDetails" nillable="true" type="tns:OverviewDetails" />
  <xs:complexType name="AttachmentResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachmentID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttachmentResponse" nillable="true" type="tns:AttachmentResponse" />
</xs:schema>