ProjectManagementTool/Service References/PMTWebService/PMTWebAPI32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/projectManagementToolWebAPI.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/projectManagementToolWebAPI.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserProfile">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HasMessage" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastLoggedIn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LoggedIn" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserRole" nillable="true" type="tns:UserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserProfile" nillable="true" type="tns:UserProfile" />
  <xs:complexType name="UserRole">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserRole" nillable="true" type="tns:UserRole" />
  <xs:complexType name="ErrorLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorLog" nillable="true" type="tns:ErrorLog" />
  <xs:complexType name="ActivityLog">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActivityLog" nillable="true" type="tns:ActivityLog" />
  <xs:complexType name="Clients">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectList" nillable="true" type="tns:ArrayOfProjects" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clients" nillable="true" type="tns:Clients" />
  <xs:complexType name="ArrayOfProjects">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Projects" nillable="true" type="tns:Projects" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProjects" nillable="true" type="tns:ArrayOfProjects" />
  <xs:complexType name="Projects">
    <xs:sequence>
      <xs:element minOccurs="0" name="AttachmentList" nillable="true" type="tns:ArrayOfAttachments" />
      <xs:element minOccurs="0" name="Client_ID" type="xs:int" />
      <xs:element minOccurs="0" name="CommentList" nillable="true" type="tns:ArrayOfComments" />
      <xs:element minOccurs="0" name="EstimatedCompletionDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Lot" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProjectScope" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StreetAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StreetNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Projects" nillable="true" type="tns:Projects" />
  <xs:complexType name="ArrayOfAttachments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attachments" nillable="true" type="tns:Attachments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttachments" nillable="true" type="tns:ArrayOfAttachments" />
  <xs:complexType name="Attachments">
    <xs:sequence>
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Extention" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Attachments" nillable="true" type="tns:Attachments" />
  <xs:complexType name="ArrayOfComments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Comments" nillable="true" type="tns:Comments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfComments" nillable="true" type="tns:ArrayOfComments" />
  <xs:complexType name="Comments">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time_Stamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Comments" nillable="true" type="tns:Comments" />
</xs:schema>